<%= render partial: 'partials/back', locals: {path: root_path}  %>

<%= link_to new_supervisor_path, class: "btn btn-warning pull-right create-button" do %>
  <%= icon 'plus' %> Create Supervisor
<% end %>

<h1>Supervisors</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>PIN</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% @supervisors.each do |supervisor| %>
    <tr>
      <td><%=link_to "#{supervisor.last_and_first_name}", edit_supervisor_path(supervisor) %></td>
      <td><%= supervisor.pin%></td>
      <td><%= supervisor.email%></td>
      <td><%= supervisor.phone rescue '' %></td>
    </tr>
  <% end %>
</table>
