<%= render partial: 'partials/back', locals: {path: root_path}  %>

<h1>Review Sessions / Assessments</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Patient Identifier</th>
    <th>Name</th>
    <th>Interviewer</th>
    <th>Progress (%)</th>
    <th>Next Session</th>
    <th>Issues</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= link_to participant.patient_identifier, participant_path(participant.id) %></td>
      <td><%= participant.last_name%>, <%=participant.first_name%></td>
      <td><%= participant.health_worker.last_name%>, <%=participant.health_worker.first_name%></td>
      <td>25%</td>
      <td>Next session datetime</td>
      <td>Issues</td>
    </tr>
  <% end %>
</table>