<%= render partial: 'partials/back', locals: {path: root_path}  %>

<%= link_to new_research_assistant_path, class: "btn btn-warning pull-right" do %>
  <%= icon 'plus' %> Create Research Assistant
<% end %>

<h1>Research Assistants</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>PIN</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% @research_assistants.each do |research_assistant| %>
    <tr>
      <td><%=link_to "#{research_assistant.last_and_first_name}", edit_research_assistant_path(research_assistant) %></td>
      <td><%= research_assistant.pin%></td>
      <td><%= research_assistant.email%></td>
      <td><%= research_assistant.phone rescue '' %></td>
    </tr>
  <% end %>
</table>
