<%= form_for(@survey_question) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey question from being saved:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :survey %>
    <%= collection_select(:survey_question, :survey_id, Survey.all, :id, :survey_name, prompt: true, class: "form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :orderer %>
    <%= f.number_field :orderer, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :survey_type %>
    <%= f.text_field :survey_type, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.text_field :language, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :data_label %>
    <%= f.text_field :data_label, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response0 %>
    <%= f.text_field :response0, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response0_value %>
    <%= f.text_field :response0_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response1 %>
    <%= f.text_field :response1, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response1_value %>
    <%= f.text_field :response1_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response2 %>
    <%= f.text_field :response2, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response2_value %>
    <%= f.text_field :response2_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response3 %>
    <%= f.text_field :response3, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response3_value %>
    <%= f.text_field :response3_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response4 %>
    <%= f.text_field :response4, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response4_value %>
    <%= f.text_field :response4_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response5 %>
    <%= f.text_field :response5, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response5_value %>
    <%= f.text_field :response5_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response6 %>
    <%= f.text_field :response6, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response6_value %>
    <%= f.text_field :response6_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response7 %>
    <%= f.text_field :response7, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response7_value %>
    <%= f.text_field :response7_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response8 %>
    <%= f.text_field :response8, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response8_value %>
    <%= f.text_field :response8_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response9 %>
    <%= f.text_field :response9, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response9_value %>
    <%= f.text_field :response9_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response10 %>
    <%= f.text_field :response10, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response10_value %>
    <%= f.text_field :response10_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response11 %>
    <%= f.text_field :response11, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response11_value %>
    <%= f.text_field :response11_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response12 %>
    <%= f.text_field :response12, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response12_value %>
    <%= f.text_field :response12_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response13 %>
    <%= f.text_field :response13, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response13_value %>
    <%= f.text_field :response13_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response14 %>
    <%= f.text_field :response14, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response14_value %>
    <%= f.text_field :response14_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response15 %>
    <%= f.text_field :response15, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response15_value %>
    <%= f.text_field :response15_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response16 %>
    <%= f.text_field :response16, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :response16_value %>
    <%= f.text_field :response16_value, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :required %>
    <%= f.check_box :required, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
