<%= render partial: 'partials/back', locals: {path: root_path}  %>

<h1>Surveys</h1>

<table class="table table-bordered table-striped">
    <tr>
      <th colspan="2"></th>
      <th>Survey Name</th>
    </tr>
    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <%= link_to survey_questions_path(q: {survey_survey_name_cont: survey.survey_name}) do%>
            <%= icon "eye" %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_survey_path(survey) do %>
            <%= icon "edit" %>
          <% end %>
        </td>
        <td><%= survey.survey_name %></td>
      </tr>
    <% end %>
  </table>
