<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @survey.group %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @survey.orderer %>
</p>

<p>
  <strong>Survey Type:</strong>
  <%= @survey.survey_type %>
</p>

<p>
  <strong>Language:</strong>
  <%= @survey.language %>
</p>

<p>
  <strong>Data label:</strong>
  <%= @survey.data_label %>
</p>

<p>
  <strong>Content:</strong>
  <%= @survey.content %>
</p>

<p>
  <strong>Response0:</strong>
  <%= @survey.response0 %>
</p>

<p>
  <strong>Response0 value:</strong>
  <%= @survey.response0_value %>
</p>

<p>
  <strong>Response1:</strong>
  <%= @survey.response1 %>
</p>

<p>
  <strong>Response1 value:</strong>
  <%= @survey.response1_value %>
</p>

<p>
  <strong>Response2:</strong>
  <%= @survey.response2 %>
</p>

<p>
  <strong>Response2 value:</strong>
  <%= @survey.response2_value %>
</p>

<p>
  <strong>Response3:</strong>
  <%= @survey.response3 %>
</p>

<p>
  <strong>Response3 value:</strong>
  <%= @survey.response3_value %>
</p>

<p>
  <strong>Response4:</strong>
  <%= @survey.response4 %>
</p>

<p>
  <strong>Response4 value:</strong>
  <%= @survey.response4_value %>
</p>

<p>
  <strong>Response5:</strong>
  <%= @survey.response5 %>
</p>

<p>
  <strong>Response5 value:</strong>
  <%= @survey.response5_value %>
</p>

<p>
  <strong>Response6:</strong>
  <%= @survey.response6 %>
</p>

<p>
  <strong>Response6 value:</strong>
  <%= @survey.response6_value %>
</p>

<p>
  <strong>Response7:</strong>
  <%= @survey.response7 %>
</p>

<p>
  <strong>Response7 value:</strong>
  <%= @survey.response7_value %>
</p>

<p>
  <strong>Response8:</strong>
  <%= @survey.response8 %>
</p>

<p>
  <strong>Response8 value:</strong>
  <%= @survey.response8_value %>
</p>

<p>
  <strong>Response9:</strong>
  <%= @survey.response9 %>
</p>

<p>
  <strong>Response9 value:</strong>
  <%= @survey.response9_value %>
</p>

<p>
  <strong>Response10:</strong>
  <%= @survey.response10 %>
</p>

<p>
  <strong>Response10 value:</strong>
  <%= @survey.response10_value %>
</p>

<p>
  <strong>Response11:</strong>
  <%= @survey.response11 %>
</p>

<p>
  <strong>Response11 value:</strong>
  <%= @survey.response11_value %>
</p>

<p>
  <strong>Response12:</strong>
  <%= @survey.response12 %>
</p>

<p>
  <strong>Response12 value:</strong>
  <%= @survey.response12_value %>
</p>

<p>
  <strong>Response13:</strong>
  <%= @survey.response13 %>
</p>

<p>
  <strong>Response13 value:</strong>
  <%= @survey.response13_value %>
</p>

<p>
  <strong>Response14:</strong>
  <%= @survey.response14 %>
</p>

<p>
  <strong>Response14 value:</strong>
  <%= @survey.response14_value %>
</p>

<p>
  <strong>Response15:</strong>
  <%= @survey.response15 %>
</p>

<p>
  <strong>Response15 value:</strong>
  <%= @survey.response15_value %>
</p>

<p>
  <strong>Response16:</strong>
  <%= @survey.response16 %>
</p>

<p>
  <strong>Response16 value:</strong>
  <%= @survey.response16_value %>
</p>

<p>
  <strong>Required:</strong>
  <%= @survey.required %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
