<%= render partial: 'partials/back', locals: {path: root_path}  %>

<%= link_to new_health_worker_path, class: "btn btn-warning pull-right" do %>
  <%= icon 'plus' %> Create Health Worker
<% end %>

<h1>Community Health Workers</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>PIN</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% @health_workers.each do |health_worker| %>
    <tr>
      <td><%=link_to "#{health_worker.last_and_first_name}", edit_health_worker_path(health_worker) %></td>
      <td><%= health_worker.pin%></td>
      <td><%= health_worker.email%></td>
      <td><%= health_worker.phone rescue '' %></td>
    </tr>
  <% end %>
</table>
